<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Description" content=""/>
	<title>HollyWood Movie List</title>
	<meta name="Keywords" content= "XYZ"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="#"/>
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="../src/css/styles.css">
</head>

<body>
<header class="head-section s1-cover-shadow"></header>
<div class="global-menu"></div>
<div class="root-section">
<div class="row container">
	<main class="main-container">
		<section class="row section-holder">
			<div id="movieList" class="col c12">

                <!-- Sequence Cards Appear once page satarted to Load and 
                Removed once API Result started to appear -->

                <!-- Note it Also Achievable in a Loop while using Frameworks--> 
				<div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
				<div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>
                <div class="col c25"><div class="movie-list--wrapper"><div class="m-l-crd s2-cover-shadow"><div class="m-l-title"><h4 class="text-wrap-hide sequence-head--background"></h4></div><div class="loading"><img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII="></div><div class="usr-action--wrap"><div class="col like-card sequence-like-back"><span class="like-icon"></span><span class="like-text"></span></div><div class="col share-card sequence-share-back"><span class="share-icon"></span><span class="share-text"></span></div></div></div></div></div>

                <!-- Ends -->
			</div>
		</section>
		<div id="pagination" class="pagination-list"></div>
	</main>
	
</div>
</div>

<!--- Scripts Holds Calling API's and Rendering Dynamic contaent to the Page -->
<script src="../src/js/main.js"></script>

</body>
</html>